<meta charset="utf-8"/>

<link rel="stylesheet" href="/public/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/apps/ART/assets/css/datatable/jquery.dataTables.min.css" type="text/css">
<link rel="stylesheet" href="/apps/ART/assets/css/datatable/scroller.dataTables.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/datatables/fixedColumns.dataTables.min.css" type="text/css">

<script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/dataTables.fixedHeader.min.js"></script>

<!-- pring report start .......................................................................... -->
<script type="text/javascript" src="/assets/js/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/buttons.flash.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/jszip.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/pdfmake.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="/assets/js/datatables/buttons.html5.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/dataTables.fixedHeader.min.js"></script>
<!-- pring report ends .......................................................................... -->


<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/core.js"></script>

<style>
.disaggregated-numbers {
  text-align: right;
  padding-right: 10px;
}

#spinner {
  position: absolute;
  top: 15%;
  left: 40%;
}

#report-cover {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 102%;
  left: 0%;
  top: 0%;
  z-index: 990;
  opacity: 0.65;
}

.title-table {
  display: table;
  width: 100%;
}

.title-row {
  display: table-row;
}

.title-cell {
  display: table-cell;
  height: 30px;
  vertical-align: top;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}


#title-cell-left {
  vertical-align: middle;
  width: 100px;
}

#title-cell-left img {
  height: 95px;
  width: 95px;
  margin: 5px;
}

#title-cell-right {
  margin-left: 5px;
}

#data-cell {
  display: table-cell;
  width: 100%;
}

#report {
  width: 100%;
}

th {
  text-align: left;
}

.dt-age-groups {
  width: 200px;
}

.dt-tx-new {
  width: 200px;
}

</style>

<script>
var url = window.location.href;
url = new URL(url);
var quarter = url.searchParams.get("quarter");
var on_art =  url.searchParams.get('total_alive_and_on_art');

if(quarter == 'Custom'){
  var start_date  = url.searchParams.get("start_date");
  var end_date  = url.searchParams.get("end_date");
}

var dataSet = [];
var data_table;

function initializeTable() {
  data_table = $('#example').DataTable({
    fixedHeader: true,
    searching: false,
    paging: false,
    scrollY: "50vh",
    scrollX: true,
    Processing: true,
    ServerSide: true,
    scroller: {
      loadingIndicator: true
    },
    scrollCollapse: true,
    fixedColumns:   {
      leftColumns: 2,
      rightColumns: 1
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'csv',
        title: 'MoH ' + sessionStorage.currentLocation + ': cohort disaggregated report ' + quarter
      },
      {
        extend: 'pdf',
        title: 'MoH' + sessionStorage.currentLocation + ': cohort disaggregated report ' + quarter
      }
    ],
    columnDefs: [
      {"className": "dt-age-groups", "targets": 1},
      {"className": "dt-tx-new", "targets": 3},
      {"className": "dt-tx-curr", "targets": 4},
      {"className": "dt-ipt", "targets": 5},
      {"className": "dt-tb", "targets": 6}
    ]
  });

}


</script>





<div class="title-table">
  <div class='title-row'>
    <div class='title-cell' id='title-cell-left'>
      <img src="/assets/images/login-logos/Malawi-Coat_of_arms_of_arms.png" />
    </div>
    <div class='title-cell' id='title-cell-right'>
      <table style="width: 100%; text-align: left; margin-left: 10px;">
        <tr>
          <th>Title:</th><td colspan="2" id="report-title">ART disaggregated report<td>
        </tr>
        <tr>
          <th>Period:</th>
          <td id="quarter-title"><td>
        </tr>
        <tr>
          <th>Total Alive and On ART:</th>
          <td id="on-art"><td>
        </tr>
        <tr>
          <td colspan="2" id="valid-report"><td>
        </tr>
      </table>
    </div>
      </table>
    </div>
  </div>
</div>
  

<div>
  <table id="example" class="display" width="100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Age group</th>
        <th>Gender</th>
        <th class="disaggregated-numbers">Tx new (new on ART)</th>
        <th class="disaggregated-numbers">TX curr (receiving ART)</th>
        <th class="disaggregated-numbers">TX curr (received IPT)</th>
        <th class="disaggregated-numbers">TX curr (screened for TB)</th>
        <th class="disaggregated-numbers">0A</th>
        <th class="disaggregated-numbers">2A</th>
        <th class="disaggregated-numbers">4A</th>
        <th class="disaggregated-numbers">5A</th>
        <th class="disaggregated-numbers">6A</th>
        <th class="disaggregated-numbers">7A</th>
        <th class="disaggregated-numbers">8A</th>
        <th class="disaggregated-numbers">9A</th>
        <th class="disaggregated-numbers">10A</th>
        <th class="disaggregated-numbers">11A</th>
        <th class="disaggregated-numbers">12A</th>
        <th class="disaggregated-numbers">13A</th>
        <th class="disaggregated-numbers">14A</th>
        <th class="disaggregated-numbers">15A</th>
        <th class="disaggregated-numbers">16A</th>
        <th class="disaggregated-numbers">17A</th>
        <th class="disaggregated-numbers">0P</th>
        <th class="disaggregated-numbers">2P</th>
        <th class="disaggregated-numbers">4P</th>
        <th class="disaggregated-numbers">9P</th>
        <th class="disaggregated-numbers">11P</th>
        <th class="disaggregated-numbers">14P</th>
        <th class="disaggregated-numbers">15P</th>
        <th class="disaggregated-numbers">16P</th>
        <th class="disaggregated-numbers">17P</th>
        <th class="disaggregated-numbers">Unknown</th>
        <th class="disaggregated-numbers">Total (regimen)</th>
      </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>
</div>

<div id="buttons" class="buttonsDiv">
  <button class="button blue navButton" onmousedown="javascript:window.history.back();"><span>Finish</span></button>
</div>

<img src="/apps/OPD/assets/images/formloader.gif" id="spinner" />
<div id="report-cover"></div>


<script>

function initializeReport() {

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/cohort_disaggregated';
  url += "?date=" + sessionStorage.sessionDate;
  url += "&quarter=" + quarter;
  url += "&age_group=" + age_groups[0];
  url += "&rebuild_outcome=false";
  url += "&initialize=true";
  url += '&program_id=' + sessionStorage.programID;

  if(quarter == 'Custom'){
    url += "&start_date=" + start_date;
    url += "&end_date=" + end_date;
  }

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      getData(age_groups[0]);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function getData(age_group) {

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/cohort_disaggregated';
  url += "?date=" + sessionStorage.sessionDate;
  url += "&quarter=" + quarter;
  url += "&age_group=" + age_group;
  url += "&rebuild_outcome=false";
  url += "&initialize=false";
  url += '&program_id=' + sessionStorage.programID;

  if(quarter == 'Custom'){
    url += "&start_date=" + start_date; 
    url += "&end_date=" + end_date;
  }

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      age_groups.shift();
      loadData(obj, age_group);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function loadData(data, age_group) {
  for(age in data) {
    var gender = data[age];
    for(sex in gender) {
      assignNum(age, sex, data[age][sex]);
    }
  }

  if(age_groups.length > 0) {
    getData(age_groups[0]);
  }else{
    getScreenedForTB();
  }
}

function addMales() {
  var cells = document.getElementsByClassName('Male_row');
  var tx_new = 0, tx_curr = 0, tx_screened_for_tb = 0, tx_given_ipt = 0;

  for(var i = 0 ; i < cells.length; i++){
    var tds = cells[i].getElementsByTagName('td');
    tx_new += parseInt(tds[3].innerHTML);
    tx_curr += parseInt(tds[4].innerHTML);
    tx_given_ipt += parseInt(tds[5].innerHTML);
    tx_screened_for_tb += parseInt(tds[6].innerHTML);
  }

  data_table.row.add([31,'All', 'Male', tx_new, tx_curr, 
    tx_given_ipt, tx_screened_for_tb,
    0,0,0,0,0,0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0]).node().id = 'all-males'; 
  data_table.draw();
  addClass('all-males');
  
  getAllFemale('Pregnant');
}

var tb_tds = [];
var ipt_tds = [];

function getScreenedForTB() {
  
  var tds = document.getElementsByTagName('td');
  
  for(var i = 0; i < tds.length; i++){
    var colname = tds[i].getAttribute('column-name');
    if(colname){
      if(colname.match(/tb-/i)){
        tb_tds.push(tds[i]);
      }else if(colname.match(/ipt-/i)){
        ipt_tds.push(tds[i]);
      }
    }
  }

  fetchTBscreenedClients(tb_tds[0]);
}


function quarterEndDate(quarter) {
  if(quarter == "Custom"){
    return [start_date, end_date];
  }

  var q = quarter.split(' ')[0];
  var year = quarter.split(' ')[1];

  if(q == 'Q1'){
    return [year + "-01-01", year + "-03-31"];
  }else if(q == 'Q2'){
    return [year + "-04-01", year + "-06-30"];
  }else if(q == 'Q3'){
    return [year + "-07-01", year + "-09-30"];
  }else if(q == 'Q4'){
    return [year + "-10-01", year + "-12-31"];
  }
}

function fetchTBscreenedClients(td) {
  if(td == undefined)
    return 

  var gender = td.getAttribute("column-name").replace("tb-","");
  var age_group = td.getAttribute("column-age").replace("tb-","");

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/screened_for_tb';

  if(quarter == 'Custom'){
    url += "?start_date=" + start_date;
    url += "&end_date=" + end_date;
  }else{
    url += "?start_date=" + quarterEndDate(quarter)[0];
    url += "&end_date=" + quarterEndDate(quarter)[1];
  }

  url += "&gender=" + gender;
  url += "&date=" + sessionStorage.sessionDate;
  url += "&age_group=" + age_group;
  url += "&outcome_table=temp_patient_outcomes";
  url += '&program_id=' + sessionStorage.programID;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      if(obj) {
        td.innerHTML = obj.length;
      }
  
     tb_tds.shift();
     if(tb_tds.length > 0) {
       fetchTBscreenedClients(tb_tds[0]); 
     }else{
       fetchIPTclients(ipt_tds[0]); 
     }

    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function fetchIPTclients(td) {
  if(td == undefined)
    return 

  var gender = td.getAttribute("column-name").replace("ipt-","");
  var age_group = td.getAttribute("column-age").replace("ipt-","");

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/clients_given_ipt';

  if(quarter == 'Custom'){
    url += "?start_date=" + start_date;
    url += "&end_date=" + end_date;
  }else{
    url += "?start_date=" + quarterEndDate(quarter)[0];
    url += "&end_date=" + quarterEndDate(quarter)[1];
  }

  url += "&gender=" + gender;
  url += "&date=" + sessionStorage.sessionDate;
  url += "&age_group=" + age_group;
  url += "&outcome_table=temp_patient_outcomes";
  url += '&program_id=' + sessionStorage.programID;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      if(obj) {
        td.innerHTML = obj.length;
      }
  
     ipt_tds.shift();
     
     if(ipt_tds.length > 0) {
       fetchIPTclients(ipt_tds[0]); 
     }else{
      addMales();
     }

    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}



function addClass(id) {
  var tr = document.getElementById(id);
  tr.style = 'background-color: lightyellow;';
  var cells = tr.getElementsByTagName('td');

  for(var i = 0 ; i < cells.length; i++){
    if(i >= 3 )
      cells[i].setAttribute('class','disaggregated-numbers');
  
  }
}

function assignNum(age, gender, num) {
  var gender = (gender == 'F' ? 'Female' : 'Male');
  var cells = document.getElementsByClassName(gender + '_row');

  for(var i = 0 ; i < cells.length; i++){
    var tds = cells[i].getElementsByTagName('td');
    if(tds[1].innerHTML == age){
      assignTD(tds, num, gender, age);
    }
  }
}

function assignTD(tds, num, gender, age) {
  tds[3].innerHTML = num.tx_new;
  tds[4].innerHTML = num.tx_curr;
  tds[5].innerHTML = num.tx_given_ipt;
  tds[6].innerHTML = num.tx_screened_for_tb;

  tds[5].setAttribute("column-name", "ipt-" + gender.toLocaleLowerCase());
  tds[5].setAttribute("column-age", "ipt-" + age);

  tds[6].setAttribute("column-name", "tb-" + gender.toLocaleLowerCase());
  tds[6].setAttribute("column-age", "tb-" + age);
}

function addTableBody() {
  var columns = [
    '0-5 months', '6-11 months','12-23 months',
    '2-4 years', '5-9 years',
    '10-14 years', '15-17 years',
    '18-19 years', '20-24 years',
    '25-29 years', '30-34 years',
    '35-39 years', '40-44 years',
    '45-49 years', '50 plus years'
  ];

  var table_body = document.getElementById('table-body');
  var row_count = 1;
  var gender = ['Female', 'Male'];

  for(var s = 0 ; s < gender.length; s++){
    for(var i = 0 ; i < columns.length; i++){
      var tr = document.createElement('tr');
      tr.setAttribute('class', gender[s] + '_row');
      table_body.appendChild(tr);
      var td_count = 0;

      while (td_count < 34) {
        var td = document.createElement('td');
        tr.appendChild(td);
        if(td_count == 0)
          td.innerHTML = (row_count++);
        
        if(td_count == 1)
          td.innerHTML = columns[i];
           
        if(td_count == 2)
          td.innerHTML = gender[s];
           
        if(td_count > 2){
          td.innerHTML = 0;
          td.setAttribute('class','disaggregated-numbers');
        }   
        tr.appendChild(td);
        td_count++;
      }

    }
  }
}

function getAllFemale(age_group) {

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/cohort_disaggregated';
  url += "?date=" + sessionStorage.sessionDate;
  url += "&quarter=" + quarter;
  url += "&age_group=" + age_group;
  url += "&rebuild_outcome=false";
  url += "&initialize=false";
  url += '&program_id=' + sessionStorage.programID;

  if(quarter == 'Custom'){
    url += "&start_date=" + start_date;
    url += "&end_date=" + end_date;
  }

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      loadAllFemale(obj, age_group);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function loadAllFemale(data, age_group) {
  for(age in data) {
    var gender = data[age];
    for(sex in gender) {
      var tx_new = data[age][sex].tx_new;
      var tx_curr = data[age][sex].tx_curr;
      var tx_screened_for_tb = data[age][sex].tx_screened_for_tb;
      var tx_given_ipt = data[age][sex].tx_given_ipt;
      
      if(age_group == 'Pregnant'){
        var count = 32 ; var g = 'FP'; 
      }else if(age_group == 'Breastfeeding'){
        var count = 34 ; var g = 'FBf'; 
      }

      data_table.row.add([count,'All', g, tx_new, tx_curr, 
        tx_given_ipt, tx_screened_for_tb,
        0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0]).node().id = age_group.toLowerCase();
      data_table.draw();
      addClass(age_group.toLowerCase()); 

      if(age_group.toLowerCase() != 'all-males') {
        var tr = document.getElementById(age_group.toLowerCase());
        tds = tr.getElementsByTagName('td');
        tds[5].setAttribute("column-name", "ipt-" + age_group.toLowerCase());
        tds[5].setAttribute("column-age", "ipt-" + "all");
        tds[6].setAttribute("column-name", "tb-" + age_group.toLowerCase());
        tds[6].setAttribute("column-age", "ipt-" + "all");
      }

    }
  }

  if(age_group == 'Pregnant') {
    data_table.row.add([33,'All', 'FNP', 0,0,0,0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0]).node().id = 'fnp';
    data_table.draw();

    var tr = document.getElementById("fnp");;
    tds = tr.getElementsByTagName('td');
    tds[5].setAttribute("column-name", "ipt-" + "fnp");
    tds[5].setAttribute("column-age", "ipt-" + "all");
    tds[6].setAttribute("column-name", "tb-" + "fnp");
    tds[6].setAttribute("column-age", "tb-" + "all");
    
    addClass('fnp'); 
    getAllFemale('Breastfeeding');
  }else if(age_group == 'Breastfeeding') {
    updateFNProw();
  }
}

function updateFNProw() {
  var fp_row = document.getElementById('pregnant');
  var fnp_row = document.getElementById('fnp');
  var bf_row = document.getElementById('breastfeeding');

  var fp_bf_tx_new = 0;
  var fp_bf_tx_curr = 0;
  var fp_bf_tx_given_ipt = 0;
  var fp_bf_tx_screened_for_tb = 0;

  var rows = [fp_row, bf_row];
  
  for(var r = 0 ; r < rows.length; r++){
    var tds = rows[r].getElementsByTagName('td');
    fp_bf_tx_new += parseInt(tds[3].innerHTML);
    fp_bf_tx_curr += parseInt(tds[4].innerHTML);
    fp_bf_tx_given_ipt += parseInt(tds[5].innerHTML);
    fp_bf_tx_screened_for_tb += parseInt(tds[6].innerHTML);
  }

  var all_female_tx_new = 0;
  var all_female_tx_curr = 0;
  var all_female_tx_given_ipt = 0;
  var all_female_tx_screened_for_tb = 0;
  var female_rows = document.getElementsByClassName('Female_row');
  
  for(var i = 0 ; i < female_rows.length; i++){
    var tds = female_rows[i].getElementsByTagName('td');
    
    if(tds[1].innerHTML.match(/months/i) || tds[1].innerHTML.match(/years/)) {
      all_female_tx_new += parseInt(tds[3].innerHTML);
      all_female_tx_curr += parseInt(tds[4].innerHTML);
      all_female_tx_given_ipt += parseInt(tds[5].innerHTML);
      all_female_tx_screened_for_tb += parseInt(tds[6].innerHTML);
    }
  }
  
  var tds = fnp_row.getElementsByTagName('td');
  tds[3].innerHTML = (all_female_tx_new - fp_bf_tx_new);  
  tds[4].innerHTML = (all_female_tx_curr - fp_bf_tx_curr);  
  tds[5].innerHTML = (all_female_tx_given_ipt - fp_bf_tx_given_ipt);  
  tds[6].innerHTML = (all_female_tx_screened_for_tb - fp_bf_tx_screened_for_tb);  

  updateRemainingCells();
}

var female_ipt_tds = [];
var female_tb_tds  = [];

function updateRemainingCells() {
  var tr = document.getElementById("pregnant"); 
  female_tb_tds.push(tr.getElementsByTagName("td")[6]);
  tr = document.getElementById("fnp"); 
  female_tb_tds.push(tr.getElementsByTagName("td")[6]);
  tr = document.getElementById("breastfeeding"); 
  female_tb_tds.push(tr.getElementsByTagName("td")[6]);
 
  tr = document.getElementById("pregnant"); 
  female_ipt_tds.push(tr.getElementsByTagName("td")[5]);
  tr = document.getElementById("fnp"); 
  female_ipt_tds.push(tr.getElementsByTagName("td")[5]);
  tr = document.getElementById("breastfeeding"); 
  female_ipt_tds.push(tr.getElementsByTagName("td")[5]);

  fetchTBscreenedFemaleClients(female_tb_tds[0]);
  /*
  We are here
  data_table.destroy();
  initializeTable();
  validateReport();*/
}

var age_groups = [
  '0-5 months', '6-11 months','12-23 months',
  '2-4 years', '5-9 years',
  '10-14 years', '15-17 years',
  '18-19 years', '20-24 years',
  '25-29 years', '30-34 years',
  '35-39 years', '40-44 years',
  '45-49 years', '50 plus years'
].reverse();

function initializeGet() {
  initializeReport();
}

document.getElementById('quarter-title').innerHTML = quarter;
document.getElementById('on-art').innerHTML = on_art;

addTableBody();
initializeTable();
initializeGet();

function validateReport() {
  var report_total = 0;
  var rows = [];
  rows.push(document.getElementById('pregnant'));
  rows.push(document.getElementById('fnp'));
  rows.push(document.getElementById('breastfeeding'));
  rows.push(document.getElementById('all-males'));

  for(var i = 0 ; i < rows.length; i++){
    var tds = rows[i].getElementsByTagName('td');
    report_total += parseInt(tds[4].innerHTML);
  }

  var valid_report = document.getElementById('valid-report');
  
  if(parseInt(on_art) == report_total) {
    valid_report.innerHTML = "<span style='color: green;'>Report is consistent</span>";
  }else{
    valid_report.innerHTML = "<span style='color: red;'>Report is <b>Not</b> consistent</span>";
  }
  document.getElementById('spinner').style = 'display: none;';
  document.getElementById('report-cover').style = 'display: none;';
}

function fetchTBscreenedFemaleClients(td) {
  if(td == undefined)
    return

  var gender = td.getAttribute("column-name").replace("tb-","");
  var age_group = td.getAttribute("column-age").replace("tb-","");

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/screened_for_tb';

  if(quarter == 'Custom'){
    url += "?start_date=" + start_date;
    url += "&end_date=" + end_date;
  }else{
    url += "?start_date=" + quarterEndDate(quarter)[0];
    url += "&end_date=" + quarterEndDate(quarter)[1];
  }

  url += "&gender=" + gender;
  url += "&date=" + sessionStorage.sessionDate;
  url += "&age_group=" + age_group;
  url += "&outcome_table=temp_patient_outcomes";
  url += '&program_id=' + sessionStorage.programID;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      if(obj) {
        td.innerHTML = obj.length;
      }

      female_tb_tds.shift();
      if(female_tb_tds.length > 0) {
        fetchTBscreenedFemaleClients(female_tb_tds[0]);
      }else{
        fetchIPTfemaleClients(female_ipt_tds[0]);
      }
      /* .......................  */


    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function fetchIPTfemaleClients(td) {
  if(td == undefined)
    return 

  var gender = td.getAttribute("column-name").replace("ipt-","");
  var age_group = td.getAttribute("column-age").replace("ipt-","");

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += '/clients_given_ipt';

  if(quarter == 'Custom'){
    url += "?start_date=" + start_date;
    url += "&end_date=" + end_date;
  }else{
    url += "?start_date=" + quarterEndDate(quarter)[0];
    url += "&end_date=" + quarterEndDate(quarter)[1];
  }

  url += "&gender=" + gender;
  url += "&date=" + sessionStorage.sessionDate;
  url += "&age_group=" + age_group;
  url += "&outcome_table=temp_patient_outcomes";
  url += '&program_id=' + sessionStorage.programID;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      if(obj) {
        td.innerHTML = obj.length;
      }
  
     female_ipt_tds.shift();
     
     if(female_ipt_tds.length > 0) {
       fetchIPTfemaleClients(female_ipt_tds[0]); 
     }else{
      data_table.destroy();
      initializeTable();
      //validateReport();
      /* here ..........................*/
      var rows = document.getElementById('table-body').children;
      for(var i =  0; i < rows.length; i++){
        let tds = rows[i].children; 
        let innerHTML  = tds[2].innerHTML;
        if(innerHTML == 'Female' || innerHTML == 'Male' || innerHTML == 'FP' || innerHTML == 'FNP' || innerHTML == 'FBf') 
          allRows.push(rows[i]);
      
      }

      fetchRegimens(allRows[0]);
      /* here ..........................*/
     }

    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function fetchRegimens(row){
  var tds = row.children;
  var  age_group = tds[1].innerHTML;

  var gender  = tds[2].innerHTML;
  gender = (gender == 'FBf' ? 'Fbf' : gender);
  dates = quarterEndDate(quarter);

  var url = sessionStorage.apiProtocol + "://" + sessionStorage.apiURL + ":" + sessionStorage.apiPort + "/api/v1";
  url += "/disaggregated_regimen_distribution";
  url += "?date=" + moment().format('YYYY-MM-DD');
  url += "&start_date=" + dates[0];
  url += "&end_date=" + dates[1];
  url += "&gender=" + gender;
  url += "&age_group=" + age_group;
  url += "&outcome_table=temp_patient_outcomes";
  url += '&program_id=1';

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      addRegimen(obj, tds);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

function addRegimen(data, tds){
  allRows.shift();
  var total = 0;

  for(var regimen in  data){
    if(regimen == '0A')
      tds[7].innerHTML = data[regimen].length;

    if(regimen == '2A')
      tds[8].innerHTML = data[regimen].length;

    if(regimen == '4A')
      tds[9].innerHTML = data[regimen].length;

    if(regimen == '5A')
      tds[10].innerHTML = data[regimen].length;

    if(regimen == '6A')
      tds[11].innerHTML = data[regimen].length;

    if(regimen == '7A')
      tds[12].innerHTML = data[regimen].length;

    if(regimen == '8A')
      tds[13].innerHTML = data[regimen].length;

    if(regimen == '9A')
      tds[14].innerHTML = data[regimen].length;

    if(regimen == '10A')
      tds[15].innerHTML = data[regimen].length;

    if(regimen == '11A')
      tds[16].innerHTML = data[regimen].length;

    if(regimen == '12A')
      tds[17].innerHTML = data[regimen].length;

    if(regimen == '13A')
      tds[18].innerHTML = data[regimen].length;

    if(regimen == '14A')
      tds[19].innerHTML = data[regimen].length;

    if(regimen == '15A')
      tds[20].innerHTML = data[regimen].length;

    if(regimen == '16A')
      tds[21].innerHTML = data[regimen].length;

    if(regimen == '17A')
      tds[22].innerHTML = data[regimen].length;

    if(regimen == '0P')
      tds[23].innerHTML = data[regimen].length;

    if(regimen == '2P')
      tds[24].innerHTML = data[regimen].length;

    if(regimen == '4P')
      tds[25].innerHTML = data[regimen].length;

    if(regimen == '9P')
      tds[26].innerHTML = data[regimen].length;

    if(regimen == '11P')
      tds[27].innerHTML = data[regimen].length;

    if(regimen == '14P')
      tds[28].innerHTML = data[regimen].length;

    if(regimen == '15P')
      tds[29].innerHTML = data[regimen].length;

    if(regimen == '16P')
      tds[30].innerHTML = data[regimen].length;

    if(regimen == '17P')
      tds[31].innerHTML = data[regimen].length;

    if(regimen == 'N/A')
      tds[32].innerHTML = data[regimen].length;

    
    total += data[regimen].length;
  }
  tds[33].innerHTML = total;

  if(allRows.length > 0){
    fetchRegimens(allRows[0]);
  }else{
    data_table.destroy();
    initializeTable();
    validateReport();
  }

}
  
var allRows = [];



</script>
